---
import { JumbledText } from "@/components/ui/jumbledText";
import PrimaryLayout from "@/layouts/primaryLayout.astro";
import { FloatLeft } from "@/components/layout/floatLeft";
import { data } from "@/layouts/primaryLayout.astro";
import Link from "@/components/ui/link.astro";
---

<PrimaryLayout>
  <FloatLeft client:only="react">
    <JumbledText
      padded
      weight="600"
      text={data.primaryParagraph}
      size="2rem"
      client:only="react"
    />
    <JumbledText
      delay={500}
      text={data.secondaryParagraph}
      size="0.9rem"
      client:only="react"
    />
    <br />
    <JumbledText
      delay={1000}
      text={data.tertiaryParagraph}
      size="0.9rem"
      client:only="react"
    />
    <br />
    <div class="linkList">
      {
        data.links.map((link: any, index: number) => (
          <Link
            class="linkItem"
            id={`link-${link.id}`}
            href={link.href}
            class="link"
            target="_blank"
          >
            <span>
              <JumbledText
                backgrounded
                weight="200"
                delay={index * 100 + 1500}
                text={`0x${index.toString(16)}.`}
                size="0.9rem"
                client:only="react"
              />
              <JumbledText
                weight="200"
                delay={index * 100 + 1500}
                text={`${link.title}`}
                size="0.9rem"
                client:only="react"
              />
            </span>
          </Link>
        ))
      }
    </div>
  </FloatLeft>
</PrimaryLayout>
<style>
  .linkList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 30vh;
    overflow: scroll;
  }
</style>
